body{
  /* background: #E5EBB2; */
  /* background: #F3EFE0; */
  background: #F8FFDB;
}

.delete-button {
  visibility: hidden;
  display: inline-block;
}

.table-row:hover .delete-button {
  visibility: visible;
}